<h1>All Cookies</h1>
<div class="row">
  <div class="col-sm-4 well">
    <h2 class="cookie-name">Cookie Name</h2>
    <p class="cookie-count">Count: 50</p>
    <p class="cookie-price">Price: $1.99</p>
    <p class="cookie-per-dozen">Price per Dozen: $8.99</p>
  </div>

  <div class="col-sm-4 well">
    <h2 class="cookie-name">Cookie Name</h2>
    <p class="cookie-count">Count: 50</p>
    <p class="cookie-price">Price: $1.99</p>
    <p class="cookie-per-dozen">Price per Dozen: $8.99</p>
  </div>

  <div class="col-sm-4 well">
    <h2 class="cookie-name">Cookie Name</h2>
    <p class="cookie-count">Count: 50</p>
    <p class="cookie-price">Price: $1.99</p>
    <p class="cookie-per-dozen">Price per Dozen: $8.99</p>
  </div>

  <div class="col-sm-4 well">
    <h2 class="cookie-name">Cookie Name</h2>
    <p class="cookie-count">Count: 50</p>
    <p class="cookie-price">Price: $1.99</p>
    <p class="cookie-per-dozen">Price per Dozen: $8.99</p>
  </div>

  <div class="col-sm-4 well">
    <h2 class="cookie-name">Cookie Name</h2>
    <p class="cookie-count">Count: 50</p>
    <p class="cookie-price">Price: $1.99</p>
    <p class="cookie-per-dozen">Price per Dozen: $8.99</p>
  </div>
</div>

{{outlet}}
